*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 100%;
    width: 100%;
}
.Pictures{
    width: 1400px;
    height: 300px;
    margin: auto;
}
.Pictures ul li{
    width: 220px;
    height: 160px;
    list-style-type: none;
    float: left;
}
.Pictures ul li img{
    display: block;
    width: 220px;
    height: 160px;
}
.viewDiv{
    display: none;
    position: absolute;
    width: 450px;
    height: 350px;
    text-align: center;
}
.view{
    /*display: none;*/
    /*position: absolute;*/
    width: 450px;
    height: 330px;
}